@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;

    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;

    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;

    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;

    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;

    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;

    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;

    --input: 240 5.9% 90%;

    --ring: 240 10% 3.9%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;

    --body-bg: #fff;
    --color-primary: #0774ff;
    --color-secondary: #2d3c58;
    --color-third: #ffc107;
    --color-primary-foreground: #fff;
    --btc: #4c5671;
    --color-secondary-dark: #313149;
    --placeholder: #8d9097;
    --primary-gradient: linear-gradient(180deg, #308bff 0%, #1262ff 100%);
    --secondary-gradient: linear-gradient(180deg, #f3f5ff 0%, rgba(231, 235, 255, 0) 100%);
    --header-top-gradient: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 8.51%, rgba(255, 255, 255, 0.1) 77.02%);
    --icon-bg-1: linear-gradient(147deg, #e8ecff 14.12%, #d1ffef 80.26%);
    --icon-bg-2: linear-gradient(147deg, #e8ecff 14.12%, #e3d1ff 80.26%);
    --border-gradient: linear-gradient(180deg, rgba(212, 220, 255, 0) 0%, #d4dcff 51.04%, rgba(212, 220, 255, 0) 100%);
    --single-sell: linear-gradient(112deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 101.12%);
    --single-sell-primary: linear-gradient(113deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 110.84%);
    --banner-one-bg: linear-gradient(180deg, #2d86ff 0%, #033aa7 100%);
    --pricing-single-bg: linear-gradient(180deg, #2987ff 0%, #0755f0 100%);
    --cta-two-bg: linear-gradient(92deg, #3990ff 3.85%, #2c73fe 101.14%);
    --banner-four-gradient: linear-gradient(90deg, #0441b9 26.56%, rgba(18, 24, 51, 0) 83.83%);
    --banner-most-used-bg: linear-gradient(180deg, #0774ff 0%, #033aa7 100%);
    --data-center-bg: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 100%);
    --data-center-shape-1: linear-gradient(180deg, #fcfdff 0.14%, #e9efff 76.88%);
    --data-center-shape-2: linear-gradient(179deg, #f9fbff 0.57%, #e9efff 59.7%);
    --data-center-shape-small: linear-gradient(192deg, #f6f9ff 8.69%, #ecf7ff 43%, #e9efff 43%);
    --accordion-active: linear-gradient(180deg, rgba(241, 246, 255, 0) 0%, #f1f6ff 100%);
    --accordion-box-shadow: 0px 4px 30px 0px rgba(224, 231, 253, 0.2);
    --accordion-section: linear-gradient(180deg, #f6f9ff 0%, rgba(246, 249, 255, 0) 100%);
    --footer-style-one: linear-gradient(0deg, #dfeaff 0%, rgba(246, 249, 255, 0) 82.55%);
    --testimonial-two-bg: linear-gradient(180deg, #0653ec 0%, #0774ff 100%);
    --feedback-card: linear-gradient(180deg, #d8eaff 0%, #f6f6f6 100%);
    --border-color: #e9edff;
    --light-border: #d4dcff;
    --white-border: #fff;
    --box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
    --plan-bg: #f6f9ff;
    --transition: all 0.4s ease;
    --color-success: #26cf4b;
    --color-danger: #ff0003;
    --color-warning: #ff8f3c;
    --color-info: #1ba2db;
    --color-facebook: #3b5997;
    --color-twitter: #1ba1f2;
    --color-youtube: #ed4141;
    --color-linkedin: #0077b5;
    --color-pinterest: #e60022;
    --color-instagram: #c231a1;
    --color-vimeo: #00adef;
    --color-twitch: #6441a3;
    --color-discord: #7289da;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
    --black: 900;
    --size-default: 1rem;
    --size-small: 0.875rem;
    --lh-default: 26px;
    --lh-h1: 76px;
    --lh-h2: 58px;
    --lh-h3: 46px;
    --lh-h4: 32px;
    --size-h1: 4.125rem;
    --size-h2: 3rem;
    --size-h3: 2.25rem;
    --size-h4: 1.5rem;
    --size-h5: 1.25rem;
    --size-h6: 1.125rem;
  }
  .dark {
    --background: 240 10% 3.9%;

    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;

    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;

    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;

    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;

    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;

    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;

    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;

    --input: 240 3.7% 15.9%;

    --ring: 240 4.9% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}

@layer utilities {
  /* pricing-wrapper */
  #pricing-wrapper {
    .tab [data-state='active'] svg path {
      fill: white;
    }
    .datacenter::before {
      content: '';
      border-left: 1px solid #dfe1e6;
      height: 30px;
      margin: 0 16px;
    }
    .price_header a:hover .sort-icon {
      opacity: 100;
    }
    .price_data {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      list-style: none;
      border-radius: 8px;
      border: 1px solid #dfe1e6;
      background: #fff;
      padding: 16px 0;
      margin-bottom: 20px;
      transition: all 0.3s ease;
      li {
        width: 15%;
        padding: 0 0 0 20px;
        color: #5e6c84;
      }
    }
    .price_data .sort-icon.sort-asc {
      path {
        fill: #c1c7d0;
      }
      .upArrow path {
        fill: #5961cc;
      }
    }
    .sort-icon.sort-desc {
      path {
        fill: #c1c7d0;
      }
      .downArrow path {
        fill: #5961cc;
      }
    }

    .priceWrapper::-webkit-scrollbar {
      width: 3px;
    }
    .priceWrapper::-webkit-scrollbar {
      width: 3px;
    }
    .priceWrapper::-webkit-scrollbar {
      width: 3px;
    }
    .priceWrapper::-webkit-scrollbar-thumb {
      background-color: rgba(89, 97, 204, 1);
    }
    .priceWrapper::-webkit-scrollbar-thumb {
      background-color: rgba(89, 97, 204, 1);
    }
    .priceWrapper::-webkit-scrollbar-thumb {
      background-color: rgba(89, 97, 204, 1);
    }
    .priceWrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(244, 245, 247, 1);
    }
    .priceWrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(244, 245, 247, 1);
    }

    .priceWrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 6px rgba(244, 245, 247, 1);
    }
  }
  .transition-primary {
    @apply transition-all duration-400 ease-primary;
  }
}

/* Swiper Testimonial Pagination */
#testimonialPagination {
  width: 100%;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding-top: 60px;
}

#testimonialPagination .swiper-custom-bullet {
  display: block;
  height: 6px;
  width: 20px;
  background-color: #c6c6c6;
  cursor: pointer;
}

#testimonialPagination .swiper-custom-bullet.swiper-custom-bullet-active {
  height: 6px;
  width: 20px;
  background-color: #007aff;
  cursor: pointer;
}
